%div#article_content.article_wrapper

  = render :partial => @article

  %div#comments
    %h2#comments-count
      = pluralize(@article.comments.count, 'comment')
    = render @article.comments

    %h3
      Leave a comment:
    = render 'comments/form'