%header.navbar.navbar-inverse.navbar-fixed-top.bs-docs-nav{:role => "banner"}
  %div.container
    %div.navbar-header
      %button.navbar-toggle{:type => "button", "data-toggle" => "collapse", "data-target" => ".bs-navbar-collapse"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "index.html"} enjoymyvibes
    %nav.collapse.navbar-collapse.bs-navbar-collapse{:role => "navigation"}
      %form.navbar-form.navbar-right{:role => "search"}
        %div.form-group
          %input.form-control{:type => "text", :placeholder => "Search"}
        %button.btn.btn-default{:type => "submit"} Submit
      %ul.nav.navbar-nav
        %li.active
          = link_to "Home", root_path
        %li
          = link_to "Contact", contact_path
        %li
          = link_to "About", about_path

%div#body.container
  %div.row
    %div.col-md-8
      %h1 Latest Posts
      %article
        %h2
          %a{:href => "singlepost.html"}
            Aries Sun Sign March 21 - April 19
        %div.row
          %div.group1.col-sm-6.col-md-6
            %span.glyphicon.glyphicon-folder-open
            %a{:href => "#"} Signs
            %span.glyphicon.glyphicon-bookmark
            %a{:href => "#"}> Aries 
            ,
            %a{:href => "#"}> Fire
            ,
            %a{:href => "#"} Mars
          %div.group2.col-sm-6.col-md-6
            %span.glyphicon.glyphicon-pencil
            %a{:href => "singlpost.html#comments"} 20 comments
            %span.glyphicon.glyphicon-time August 24, 2013 9:00 PM

        %hr

        %img.img-responsive{:src => "http://placehold.it/900x300"}

        %br/

        %p.lead Aries is the first sign of the zodiac, and that's pretty much how those born under this sign see themselves: first. Aries are the leaders of the pack, first in line to get things going. Whether or not everything gets done is another question altogether, for an Aries prefers to initiate rather than to complete. Do you have a project needing a kick-start? Call an Aries, by all means. The leadership displayed by Aries is most impressive, so don't be surprised if they can rally the troops against seemingly insurmountable odds.

        %p The symbol of Aries is the Ram, and that's both good and bad news. Impulsive Aries might be tempted to ram their ideas down everyone's throats without even bothering to ask if they want to know. It's these times when you may wish Aries' symbol were a more subdued creature, more lamb than ram perhaps. You're not likely to convince the Ram to soften up; these folks are blunt and to the point. Along with those qualities comes the sheer force of the Aries nature, a force that can actually accomplish a great deal. Much of Aries' drive to compete and to win comes from its Cardinal Quality. Cardinal Signs love to get things going, and Aries exemplifies this even better than Cancer, Libra or Capricorn.

        %p.text-right
          %a.text-right{:href => "singlepost.html"}
            continue reading...
      %ul.pager
        %li.previous
          %a{:href => "#"} ← Older
        %li.next
          %a{:href => "#"} Newer →
    %div.col-md-4
      %div.well.text-center
        %p.lead Don't want to miss updates? Please click the below button!
        %button.btn.btn-primary.btn-lg
          Subscribe to my feed
      %div.panel.panel-default
        %div.panel-heading
          %h4 Latest Posts
        %ul.list-group
          %li.list-group-item
            %a{:href => "singlepost.html"} 1. Aries Sun Sign March 21 - April 19
          %li.list-group-item
            %a{:href => "singlepost.html"} 2. Taurus Sun Sign April 20 - May 20
          %li.list-group-item
            %a{:href => "singlepost.html"} 3. Gemini Sun Sign May 21 - June 21
          %li.list-group-item
            %a{:href => "singlepost.html"} 4. Cancer Sun Sign June 22 - July 22
          %li.list-group-item
            %a{:href => "singlepost.html"} 5. Leo Sun Sign July 23 - August 22
      %div.panel.panel-default
        %div.panel-heading
          %h4 Categories
        %ul.list-group
          %li.list-group-item
            %a{:href => "#"} Signs
          %li.list-group-item
            %a{:href => "#"} Elements
          %li.list-group-item
            %a{:href => "#"} Planets
          %li.list-group-item
            %a{:href => "#"} Cusps
          %li.list-group-item
            %a{:href => "#"} Compatibility
      %div.panel.panel-default
        %div.panel-heading
          %h4 Recent Comments
        %ul.list-group
          %li.list-group-item
            %a{:href => "#"} I don't believe in astrology but still your writing style is really great! - 
            %em john
          %li.list-group-item
            %a{:href => "#"} Wow.. what you said is really true! I'm an aries though - 
            %em Anto
          %li.list-group-item
            %a{:href => "#"} Does capricorn and aries is compatibile? -
            %em Sarah
          %li.list-group-item
            %a{:href => "#"} I'm a cancer woman been in love with Leo. Will this work?
            %em Mary
      %div.panel.panel-default
        %div.panel-heading
          %h4 Tags
        %div.panel-body
          %ul.list-inline
            %li
              %a{:href => "#"} Aries
            %li
              %a{:href => "#"} Fire
            %li
              %a{:href => "#"} Mars
            %li
              %a{:href => "#"} Taurus
            %li
              %a{:href => "#"} Earth
            %li
              %a{:href => "#"} Moon
            %li
              %a{:href => "#"} Gemini
            %li
              %a{:href => "#"} Air
            %li
              %a{:href => "#"} Mercury
            %li
              %a{:href => "#"} Cancer
  %h1
    Hello, Rails!

  = link_to 'My Blog', controller: 'articles'

%footer
  %div.container
    %hr/
    %p.text-center Copyright © enjoymyvibes 2015. All rights reserved.