%div#page_wrapper
  %h1 Contact Me
  %div.contact-form
    = form_tag("index.html", class: "form-horizontal col-md-8", role: "form") do
      %div.form-group
        %div.col-md-10
          %input{:type => "subject", :class => "form-control", :placeholder => "Subject", :id => "subject"}
      %div.form-group
        %div.col-md-10
          %textarea{:class => "form-control", :placeholder => "Message", :id => "message"}
      %div.form-group
        %div.col-md-10
          %input{:type => "text", :class => "form-control", :placeholder => "Name", :id => "name"}
      %div.form-group
        %div.col-md-10
          %input{:type => "email", :class => "form-control", :placeholder => "Email", :id => "email"}
      %div.form-group
        %div.col-md-12.text-right
          %button{:type => "submit", :class => "btn btn-lg btn-primary"} Submit your message!
